body {
    background: red !important;
  }


/*.body_visual2 {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #4EDAEE, #01927C, #014F79);
    background: linear-gradient(to right, #4EDAEE, #01927C, #014F79);
  }
  
  .bg-white {
    background-color: white;
  }*/