*{
    margin:0;
    padding:10;
    box-sizing: border-box;

}
.body_visual1{
    background: #7F7FD5; 
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 

}
.bg-white{
    background-color: white;
}